@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
h2{
	color: burlywood;
	font-size: 18px;
}
html{
  font-size: 10px;
  font-family:'Gemunu Libre', sans-serif;
}
a{
   text-decoration: none;
}
.container{
   min-height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
p{
  color:rgb(247, 234, 234);
  text-align: left;
  font-size: 2.4rem;
  line-height: 1.9rem;
}
.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: rgb(100, 98, 98);
}
.brand h1 span {
	color: rgb(201, 97, 118);
}
/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(138, 127, 230, 0.76);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
  font-family: 'Fredoka One', cursive;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: #f0f8ff05;
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: rgb(193, 160, 236);
}
#header .enhypen {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .enhypen:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .enhypen .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .enhypen .bar::after,
#header .enhypen .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .enhypen .bar::after {
	top: 8px;
}
#header .enhypen .bar::before {
	bottom: 8px;
}
#header .enhypen.active .bar::before {
	bottom: 0;
}
#header .enhypen.active .bar::after {
	top: 0;
}
/* End Header section */
/*Home section*/
#home{
  background-image: url(../Media/mariposa.gif);
  background-size: cover;
  background-position:top center;
  position:relative;
  z-index: 1;
}
#home::after{
  content: '';
  position:absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(70, 31, 97);
  opacity: .7;
  z-index: -1;
}
#home .home{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}
#home h1 {
  display: block;
  width: fit-content;
  font-size: 4rem;
  position:relative;
  color:transparent;
  animation: text_reveal .5s ease forwards;
  animation-delay: 1s;
}
#home h1:nth-child(1){
  animation-delay: 1s;
}
#home h1:nth-child(2){
  animation-delay: 2s;
}
#home h1:nth-child(3){
  animation-delay: 3s;
}

#home h1 span{
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: violet;
  animation: text_reveal_box 1s ease;
  animation-delay: 3s;
}
#home h1:nth-child(1) span{
  animation-delay: .5s;
}
#home h1:nth-child(2) span{
  animation-delay: 1.5s;
}
#home h1:nth-child(3) span{
  animation-delay: 2.5s;
}

#home .cta {
  display: inline-block;
  padding: 10px 30px;
  color:rgb(247, 239, 247);
  background-color: transparent;
  border: 2px solid violet;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .1rem; 
  margin-top: 30px;
  transition: .3s ease;
  transition-property: background-color, color;

}
#home .cta:hover{
  color:white;
  background-color: violet;

}
/*End of home section*/

/*habilidades section*/
.habilidades{
background-image: url(../Media/sky.gif);
background-size: cover;
background-position:top center;
position:relative;
z-index: 1;
}
#habilidades .habilidades{
  flex-direction: column;
  text-align:center;
  max-width: 1500px;
  margin:0 auto;
  padding: 100px 0;
  
}
#habilidades .habilidades-top{
  max-width: 500px;
  margin: 0 auto;
}
#habilidades .habilidades-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
}
#habilidades .habilidades-item {
  flex-basis: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-size: cover;
  margin: 10px 5%;
  position:relative;
  z-index: 1;
  overflow: auto;
  
}
#habilidades .habilidades-item::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, rgb(248, 246, 246), rgba(252, 177, 177, 0.815)) ;
  opacity: .8;
  z-index: -1;
}
#habilidades .section-title{
  font-size:  6rem;
  font-weight: 300;
  color:rgb(139, 226, 217);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  letter-spacing: center;
  font-family: 'Stick No Bills', sans-serif;
  margin-bottom: 20px;
}
#habilidades .section-title span {
  color:rgb(250, 154, 210);
}



#habilidades .habilidades-item:nth-child(1){
	height: 350px;
  background-image: url(../Media/girls.gif);
  
}
#habilidades .habilidades-item:nth-child(2){
	height: 350px;
  background-image: url(../Media/celular.gif);
  
}
#habilidades .habilidades-item:nth-child(3){
	height: 350px;
  background-image: url(../Media/crafts.gif);

}
#habilidades .habilidades-item:nth-child(4){
	height: 350px;
  background-image: url(../Media/paint.gif);
 
}

#habilidades .habilidades-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
#habilidades .habilidades-item h2{
  font-size:  3rem;
  color: rgb(182, 53, 53);
  margin-bottom: 10px;
  text-transform: uppercase;
}
#habilidades .habilidades-item p{
  color:rgb(121, 49, 49);
  text-align: left;
  font-size: 1.4rem;
  line-height: 1.9rem;
}


/*final de habilidades section*/
/*Experiencias section*/
#exp{
  background-image: url(../Media/sky.gif);
  background-size: cover;
  background-position:top center;
  position:relative;
  z-index: 1;
  }
#exp .exp {
	flex-direction: column;
	max-width: 1000px;
	margin: 0 auto;
	padding: 100px 0;
}
#exp .section-title{
  font-size:  6rem;
  font-weight: 300;
  color:rgb(139, 226, 217);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  letter-spacing: center;
  font-family: 'Stick No Bills', sans-serif;
}
#exp .section-title span {
  color:rgb(250, 154, 210);
}

#exp .exp-header h1 {
	margin-bottom: 50px;
}
#exp .all-exp {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#exp .exp-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#exp .exp-info {
	padding: 10px;
	flex-basis: 50%;
	height: 50%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #813c92 0%, #a1383e 100%);
	color: white;
}
#exp .exp-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#exp .exp-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#exp .exp-info p {
	color: white;
}
#exp .exp-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#exp .exp-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #c28ba2 0%, #c9add6 100%);
	opacity: 0.7;
}
#exp .exp-img img {
	transition: 0.3s ease transform;
  background-size: contain;
  
}
#exp .exp-item:hover .exp-img img {
	transform: scale(1.1);
}
/*final de experiencias section*/
/* About Section */
#about{
  background-image: url(../Media/sky.gif);
  background-size: cover;
  background-position:top center;
  position:relative;
  z-index: 1;
  
  }
  #about .section-title{
    font-size:  6rem;
    font-weight: 300;
    color:rgb(139, 226, 217);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    letter-spacing: center;
    font-family: 'Stick No Bills', sans-serif;
    
  }
  #about .section-title span {
    color:rgb(250, 154, 210);
  }
#about h2{
  color:cadetblue;
  font-size: 40px;
}
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 100%;
	width: 100%;
	border: 7px solid rgb(172, 97, 112);
	z-index: -1;
}
/* End About Section */ 
/*Metas section*/
#metas{
	background-image: url(../Media/sky.gif);
	background-size: cover;
	background-position:top center;
	position:relative;
	z-index: 1;
}
#metas .container{
	width: 90%;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 3em;
	
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 30px;
	
  }
  
  #metas .section-title{
    font-size:  6rem;
    font-weight: 300;
    color:rgb(139, 226, 217);
	margin-top: 80px;
    margin-bottom: 10px;
	margin-left: 400px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    letter-spacing: center;
    font-family: 'Stick No Bills', sans-serif;
	
    
  }
  #metas .section-title span {
    color:rgb(250, 154, 210);
  }
  #metas .item{
	background-image: linear-gradient(60deg, #86667a 30%, #816573 100%);
	cursor: pointer;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.095);
	
	transition: all 300ms;
	height: 400px;
	overflow: scroll;
	position: relative;
	border-radius: 5px;
	
  }
  
  #metas .item::-webkit-scrollbar{
	  width:5px;

  }
  #metas .item::after {
	content: "";
	background-color: rgba(179, 229, 252, .1);
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	transform: scale(0);
	transition: all 300ms;
	opacity: 0;
  }

  
  
  #metas .item:hover:after{
	opacity: 1;
	transform: scale(1);
  }
  
  #metas .item:hover {
	transform: scale(1.05);
  }
  
  #metas .item-text{
	padding: 1em;
  }
  
  
  #metas .item-img{
	max-width: 100%;
	display: block;
  }
  
  
/*End of Metas section*/
/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact{
  background-image: url(../Media/sky.gif);
  background-size: cover;
  background-position:top center;
  position:relative;
  z-index: 1;
  
  }
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}
#contact .section-title{
  font-size:  6rem;
  font-weight: 300;
  color:rgb(139, 226, 217);
  margin-top: 50pxpx;
  margin-bottom: 100px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  letter-spacing: center;
  font-family: 'Stick No Bills', sans-serif;
}
#contact .section-title span {
  color:rgb(250, 154, 210);
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */
/* Footer */
#footer .section-title{
  font-size:  6rem;
  font-weight: 300;
  color:rgb(139, 226, 217);
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  letter-spacing: center;
  font-family: 'Stick No Bills', sans-serif;
  
}
#footer .section-title span {
  color:rgb(250, 154, 210);
}
#footer {
	background-image: linear-gradient(60deg, #766ae4 0%, #f58aaa 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 50px;
  
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */
/*los keyframes*/
@keyframes text_reveal_box {
  50%{
    width: 100%;
    left:0;
  }
  100%{
    width:0;
    left: 100%;
 }
}
@keyframes text_reveal {
  100%{
    color:white;
  }
}
/*End los keyframes*/
/*Media Query*/
@media only screen and (min-width: 768px) {
  .cta{
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1.section-title {
    font-size: 7rem;
  }
  /*home*/
  #home h1{
    font-size: 7rem;
  }
  /*end home*/
  /*habilidades section*/
  #habilidades .habilidades-bottom .habilidades-item {
    flex-basis: 45%;
    margin: 2.5%;
  }
  /*end habilidades section*/
  /*Experiencias*/
  #exp .exp-item{
    flex-direction: row;
  }
  #exp .exp-item:nth-child(even){
    flex-direction: row-reverse ;
  } 
   #exp .exp-item{
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  #exp .all-exp .exp-info {
    height: 100%;   
  }
  #exp .all-exp .exp-img {
    height: 100%;
  }
  /*end of Experiencias*/

  /* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid rgb(245, 88, 211);
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */
  /* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
	/*metas*/
	#metas .container{
		grid-template-columns: repeat(2, 1fr);
	  }
	  
	}
	
	
	
	@media screen and (min-width: 960px) {
	  
	  #metas .container{
		grid-template-columns: repeat(3, 1fr);
	  }
	  
	}
	/*en of metas*/

/*End of Media Query*/
/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .enhypen {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#habilidades .habilidades-bottom .habilidades-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */